.list {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
}

.empty {
  padding: 24px 12px;
  font-size: var(--font-size-preview);
  color: var(--color-text-secondary);
  text-align: center;
}
