.placeholder {
  display: grid;
  flex: 1;
  place-content: center;
  gap: 4px;
  text-align: center;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-chat);
  background-image: var(--pattern-chat);
}

.hint {
  font-size: var(--font-size-preview);
  opacity: 0.75;
}

@media (max-width: 900px) {
  .placeholder p {
    display: none;
  }
}
